---
layout: default
---

{% include header.html %}
<!-- <div class="portfolio">
    <h1>Web Design:</h1>
    <ul>
        {% for websites in site.data.websites %}
        <li>
            <a href="{{ websites.url }}">{{ websites.url }}</a>
        </li>
        {% endfor %}
    </ul>
</div> -->
<div class="blog">
    <h2>Logs :</h2>
    <ul>
        {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%Y%m%d' }}</span> 
            {% if post.ext_url != "" %}
                <a href="{{ post.ext_url }}" target="_blank">{{ post.title }} <i class="fa fa-external-link" aria-hidden="true"></i> </a>
            {% else %}
                <a href="{{ post.url }}">{{ post.title }}</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
