<script type="text/javascript" src="{{ "assets/js/jquery.js" | prepend:site.baseurl }}"></script>
<script type="text/javascript" src="{{ "assets/js/jquery.fancybox.js?v=2.1.5" | prepend:site.baseurl }}"></script>
<script type="text/javascript">
		$(document).ready(function() {
			$(".fancyboxx").fancybox({
				wrapCSS    : 'fancybox-custom',
				closeClick : true,

				openEffect : 'none',

				helpers : {
					title : {
						type : 'inside'
					},
					overlay : {
						css : {
							'background' : 'rgba(238,238,238,0.85)'
						}
					}
				}
			});
			$(".fancybox").fancybox({
				padding: 0,

				openEffect : 'elastic',
				openSpeed  : 150,

				closeEffect : 'elastic',
				closeSpeed  : 150,

				closeClick : true,

				helpers : {
					title : {
						type : 'over'
					}
				}
			});
		});
</script>